{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block css %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-navbarcolor py-3">
        <a class="navbar-brand" href="#">
            <img src="{% static 'deadline/images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Project Nara
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-md-5">
                <a class="nav-link" href="#">Schedule Planner<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-md-5">
                <a class="nav-link" href="#">Your Deadline</a>
            </li>
            <li class="nav-item mr-md-5">
                <a class="nav-link" href="#">Score Calculator</a>
            </li>
            <li class="nav-item mr-md-5">
                <a class="nav-link" href="#">About Us</a>
            </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
    <footer style="overflow: hidden;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 ml-5 px-0" style="margin-top: 20px;">
                <h5>
                    © NARA 2019
                </h5>
            </div>
        </div>
    </footer>
</html>