{% extends 'deadline/base.html' %}
{% load static %}

    {% block content %}
    <body style="width: 100%;">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-5 mb-3 ml-3">
                        <h1 style="font-style :italic;">
                            Your Deadline
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 align-text-center text-center">
                        <div class="container container-bodycolor p-3 rounded-lg mb-2 mt-3">
                            <div class="container text-left mb-3">
                                <h4>Your Task :</h4>
                            </div>
                            <div class="container bg-white rounded-lg py-2 px-3 text-justify">
                                <div class="row ml-2" style="height: 400px; max-height: 400px;">
                                    <div class="col mt-4 ml-3 px-0" style="height: 350px; overflow-y: scroll;" >
                                        {% for i in list_dl %}
                                            {% if not i.selesai %}
                                                    <p>{{ i.nama_deadline }}
                                                            <a href="{% url 'done' pk=i.pk %}"><button class="btn btn-icon btn-danger" style="position: absolute; right:30px;"><i class="fa fa-trash"></i>Done</button></a>
                                                    </p>
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row ml-2 mb-2">
                                    <div class="container">
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form }}
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                        <div class="container container-bodycolor p-3 rounded-lg mb-2 mt-3" style="height:570px">
                            <div class="container text-left mb-3">
                                <h4>Done Task :</h4>
                            </div>
                            <div class="container bg-white rounded-lg py-2 px-3 text-justify" style="height: 495px;">
                                <div class="row ml-2" style="max-height: 400px;">
                                    <div class="col mt-4 ml-3" style="height: 350px; overflow-y: scroll;" >
                                        {% for j in list_dl %}
                                            {% if j.selesai %}
                                                    <p>{{ j.nama_deadline }}
                                                        <a href="{% url 'erase' pk=j.pk %}"><button class="btn btn-icon btn-danger" style="position: absolute; right:120px;"><i class="fa fa-trash"></i>Delete</button></a>
                                                        <a href="{% url 'undone' pk=j.pk %}"><button class="btn btn-icon btn-danger" style="position: absolute; right:30px;"><i class="fa fa-trash"></i>Undone</button></a>
                                                    </p>
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 text-center">
                        <div class="container container-bodycolor p-3 rounded-lg mb-2 mt-3">
                            <div class="container text-left mb-3">
                                <h4>Summary :</h4>
                            </div>
                            <div class="container bg-white rounded-lg py-2 px-3 text-justify">
                                <p>
                                    Your Task : {{belum}}
                                </p>
                                <p>
                                    Done Task : {{sudah}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    {% endblock content %}