.kontainer {
    background-color: bisque;
    max-height: 200px;
    height: 200px;
    display: block;
    font-family: 'Montserrat';
    bottom: 15px;
    right: 15px;
    position: absolute;
    padding: 15px 0 0 15px;
    border-radius: 10px;
    overflow: hidden;
}

/* form {
    width: 100%;
    position: absolute; 
    bottom: 40px;
}

#start {
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

b {
    font-size: 18px;
    font-weight: 900;
}

a {
    font-size: 14px;
}
*/

#list { 
    overflow-y: scroll;
}