/* TBI */

.navbar-navbarcolor{
    background-color : #F6E0BB;
}

.container-bodycolor{
    background-color : #ACEDD7;
}

.container-broken{
    background-color : #F6E0BB;
}

body{
    font-family: 'Montserrat';
    color : black;
    font-weight: bold;
}

.font{
    font-family: Roboto;
}
.form-control{
    border: none;
}

label{
    margin-left: 12px ;
}

.row {
    margin-right: 0px !important;
}
