{% extends 'base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="clearfix">
    <a class="btn btn-info left" href="{% url 'jadwal:calendar' %}?{{ prev_month }}"> Previous Month </a>
    <a class="btn btn-info right" href="{% url 'jadwal:calendar' %}?{{ next_month }}"> Next Month </a>
    <a class="btn btn-info right" href="{% url 'jadwal:event_new' %}"> New Event </a>
  </div>
  <div class="container" style="margin-top: 40px;">
    <h1>
      <b>
        <i>
          Schedule Planner
        </i>
      </b>
    </h1>
  </div>
  <div class="container py-4" style="background-color: aquamarine;border-radius: 2%;">
    <div class="container">
      <div class="row" >
        <div class="container my-1 mx-3" style="width: 100%;">
          <div class="col-sm bg-white my-3 px-0" style="width: 100%;">
            {{ calendar }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}