{% load staticfiles %}
<html>
  <link rel="stylesheet" type="text/css" href="{'% static 'jadwal/static/css/styles.css' %}">
    <meta name="google-signin-client_id"
          content="180774731904-kodj5mc8sk142kej9gd12a7j2bl0gsst.apps.googleusercontent.com">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" type="text/css" href="{'% static 'styles.css' %}">
<head>
    <title> Nara</title>
</head>
  <body>
    <section>
      <div class="container" style="font-family: 'Montserrat';position: absolute; top:50%;left:50%;transform: translate(-50%, -50%); max-width: 70%;">
        {% block content %}
        {% if user.is_authenticated %}
        <h1 id= "gmailname" style="font-size: 80px; text-align: center;">
        Hello, <i>{{user.username}}!</i></h1>
        <h2 style="text-align: center;">Ayo tingkatkan produktivitasmu!</h2>
        <a style="position : absolute;left:50%; font-size: 20px;" href="{% url 'jadwal:logout'%}"> logout </a>
        {% else %}
          <div class="container text-center" style="font-family: 'Montserrat';position: absolute; top:50%;left:50%;transform: translate(-50%, -50%); max-width: 70%;">
            <h1><i>Project-Nara Planner</i></h1>
            <p>Project-Nara Planner adalah projek bersama yang bertujuan untuk meningkatkan produktivitas mahasiswa
              dengan mengatur rencana belajar, tenggat waktu tugas, dll.</p>
            <a href="{% url 'social:begin' backend='google-oauth2' %}">Login with GOOGLE</a>
          </div>
        {% endif %}
        {% endblock content %}
      </div>
  </section>
</body>

</html>