/* TBI */
.navbar-navbarcolor{
    background-color : #F6E0BB;
}

.container-bodycolor{
    background-color : #ACEDD7;
}

.form-control{
    border: none;
}

label{
    margin-left: 12px ;
}

.row {
    margin-right: 0px !important;
}
