{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'reminder/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-navbarcolor py-3">
            <a class="navbar-brand" href="#">
                <img src="{% static 'deadline/images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                Project Nara
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-md-5">
                    <a class="nav-link" href="#">Schedule Planner<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-md-5">
                    <a class="nav-link" href="#">Your Deadline</a>
                </li>
                <li class="nav-item mr-md-5">
                    <a class="nav-link" href="#">Score Calculator</a>
                </li>
                <li class="nav-item mr-md-5">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                </ul>
            </div>
        </nav>
    </header>
    <section>
        {% block content %}
        <div class="container" style="font-family: 'Montserrat';position: absolute; top:50%;left:50%;transform: translate(-50%, -50%); max-width: 70%;">
            <div class="row-12" >
                <div class="col" style="font-weight: bold; text-align: center;">
                    <h1><i><b>About Us</b></i></h1><br>
                    <p><i>Project-NARA Planner</i> merupakan produk dari projek bersama yang terbentuk
                        melalui Kelas Perancangan dan Pemrograman Web di Fasilkom, UI. Nama NARA
                        itu sendiri merupakan singkatan dari developer-developer yang membentuk projek ini
                        yaitu Nadia, Alco, Ronaldi, dan Ariell.</p>
                </div>
                <!-- </div> -->
                <!-- <div class="row"> -->
            </div>
        </div>
        {% include 'index1.html' %}
        {% endblock content %}
    </section>
</body>
</html>