<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'reminder/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}
    <div class="kontainer col-4 mx-auto align-center" style="display: flex; align-items: center;" id="cont">
        <div class="container">
            <div class="row ml-1">
                <b class="col-6 px-0">Your To-Do List:</b> <a href="{% url 'deleteAll' %}" id="del" class="col-6 px-4" style="margin: 0; text-align: right; font-size: 14px;">delete all</a> 
            </div>
            <div class="row-lg-12 row-md-12 row-sm-12">
                <div>
                    {% if size == 0 %}
                    <p id="start"><i>Start your To-Do List!</i></p>
                    {% else %}
                    <div id="list" class="mr-5 mb-4 mt-3" style="max-height: 75px;">
                        <ul class="mb-0">
                            {% for el in listTodo %}
                            <li style="display: flex; align-items: center;">
                                {{el.todo}}
                                <a href="{% url 'delete' el.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <!-- hai -->
                <form action="{% url 'add' %}" class="col-6 mx-0 pl-5" method="POST">
                    {% csrf_token %}
                    {{ rForm }}
                    <input type="submit" style="display: none"/>
                </form>
                <a href="" id="expand" class="col-5 mx-0"  onclick="expand('cont', 'list', 'expand','less');return false;" style="text-align: right;">
                    All To-Do List
                </a>
                <a href="" id="less" class="col-5 mx-0" style="display: none; text-align: right;" onclick="less('cont', 'list', 'expand', 'less');return false;">Less</a>
                <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="26" style="margin-left: -10"><path fill="none" d="M0 0h24v24H0z"/><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"/></svg>
            </div>
        </div>
    </div>
    <script>
    function expand(contName, listName, textExpand, textLess) {
        document.getElementById(contName).style.height = "450px";
        document.getElementById(contName).style.alignItems = "left";
        document.getElementById(listName).style.height = "300px";
        document.getElementById(listName).style.maxHeight = "300px";
        document.getElementById(textExpand).style.display = "none";
        document.getElementById(textLess).style.display = "block";
    }
    function less(contName, listName, textExpand, textLess) {
        document.getElementById(contName).style.height = "200px";
        document.getElementById(contName).style.alignItems = "center";
        document.getElementById(listName).style.maxHeight = "75px";
        document.getElementById(textLess).style.display = "none";
        document.getElementById(textExpand).style.display = "block";
    }
    </script>
    {% endblock content %}
</body>
</html>